
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    height: 90px;
    background-color: rgb(25, 25, 25);
    z-index: 100;
    padding: 0px 100px 0px 50px
}

.main-nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
    /* column-gap: 100px; */
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    column-gap: 60px;
}

.logo {
    display: flex;
    align-items: center;
    /* margin-left: 40px; */
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 40px;
}

.sign-in, .sign-up {
    border-radius: 40px;
    width: 150px;
    height: 50px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(237, 237, 237);
    color: inherit; /* Ensures text color is consistent */
    font-size: 18px;
}

.sign-in:active,
.sign-up:active {
    opacity: 0.5;
}

.sign-up {
    background-color: black;
    color: white;
}

.nav-links a {
    color: white;
}

.auth-buttons {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

ul,li,a  {
    list-style: none;
    text-decoration: none;
}

*,body {
    color: black;
    font-family: Roboto;
}

.logo-container p {
    font-size: 30px;
    color: rgb(68, 242, 120);
    font-weight: bold;
}

li {
    font-size: 18px;
}